<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ToDiddlyDo Todo App</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>

<body>
    <header>
        <nav class="row">
            <div class="columns five">
            	<img src="img/logo.svg" alt="ToDiddlyDo Logo" class="logo">
            </div>
            <h4 class="columns three">Login</h4>
            <h4 class="columns four">Register</h4>
        </nav>
    </header>
    <div id="to_add" class="container">
        <form action="index.html" method="post">
            <input class="title" type="text" name="title" placeholder="What ToDiddlyDo, Neighbor?">
            <label for="due_date">Due Date:</label>
            <input id="due_date" type="date" name="due_date">
            <label for="importance">Importance:</label>
            <select id="importance" name="importance">
                <option value="low" selected>Low</option>
                <option value="important">Important</option>
                <option value="urgent">Urgent</option>
            </select>
            <button type="submit"><i class="fa fa-plus"></i></button>
            <button type="reset"><i class="fa fa-trash"></i></button>
        </form>
    </div>
    <div class="todo">
        <div class="card urgent">
            <button><i class="fa fa-check item"></i></button>
            <p class="due item">xx-xx</p>
            <p class="title item">Lorem ipsum dolor sit amet.</p>
            <button class="to_complete item"><i class="fa fa-trash"></i></button>
        </div>
    </div>
</body>

</html>
