h3 {
	text-align: left;
	color: rgba($light-grey, 0.4);
}

.card-container {
	flex-direction: column;
	max-width: 550px;
	text-align: center;
	margin: 0 auto;

	.card {
		p,
		button {
			margin: 0;
			align-content: center;
		}

		background: $white;
		display: flex;
		margin-bottom: 20px;

		.fa {
			font-size: 20px;
		}

		button {
			border: 1px solid transparent;
		}

		.due {
			width: 100px;
			padding-top: 5px;
		}

		.title {
			width: 550px;
		}

		.urgent {
			background: $red;
		}

		.important {
			background: $yellow;
		}

		.low {
			background: $blue;
		}

	}

}

.done {
	opacity: 0.6;

	.due-done {
		width: 100px;
		padding-top: 5px;
		background: $due-done;
	}

	.title {
		color: rgba($done - 60, 1);
		text-decoration: line-through;
	}

}