<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>ToDiddlyDo Todo App</title>
        <link rel="stylesheet" href="/www/views/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    </head>

    <body>
        <header>
            <nav class="row">
                <div class="columns five">
                    <img src="/www/views/img/logo.svg" alt="ToDiddlyDo Logo" class="logo">
                </div>
                <h4 class="columns three" id="loginLink"><a href="#">Login</a></h4>
                <h4 class="columns four" id="signupLink"><a href="#">Register</a></h4>
            </nav>
        </header>

        <!-- This loads in the requested view's HTML. -->
        {% block pageContent %}{% endblock %}

        <div class="login">
            <h1>Login</h1>
            <form action="/api/user/login" method="post">
                <div class="info">
                    <label for="email">Email:</label>
                    <input id="email" type="email" name="email" placeholder="example@gmail.com">
                    <label for="password">Password:</label>
                    <p>Forgot password?</p>
                    <input id="password" type="password" name="email">
                    <button type="submit">Login</button>
                </div>
            </form>
            <div id="cancelLogin"><a href="#">Cancel</a></div>
        </div>

        <div class="signup">
            <h1>Signup</h1>
            <form action="/api/user/register" method="post">
                <div class="info">
                    <label for="email">Email:</label>
                    <input id="email" type="email" name="email" placeholder="example@gmail.com">
                    <label for="password">Password:</label>
                    <input id="password" type="password" name="email">
                    <label for="confirm_password">Confirm Password:</label>
                    <input id="confirm_password" type="password" name="email">
                    <p>Already have a ToDiddlyDo? <span class="link">Login.</span></p>
                    <button type="submit">Login</button>
                </div>
            </form>
            <div id="cancelSignup"><a href="#">Cancel</a></div>
        </div>

    </body>

</html>

<script type="text/javascript" src="/www/views/scripts/main.js"></script>
  
<script type="text/javascript">
    hide(document.querySelectorAll('.login'));
    hide(document.querySelectorAll('.signup'));
    
    document.getElementById('loginLink').addEventListener('click', function(event) {
        show(document.querySelectorAll('.login'));
    });
    
    document.getElementById('cancelLogin').addEventListener('click', function(event) {
        hide(document.querySelectorAll('.login'));
        return false;
    });
    
    document.getElementById('signupLink').addEventListener('click', function(event) {
        show(document.querySelectorAll('.signup'));
    });
    
    document.getElementById('cancelSignup').addEventListener('click', function(event) {
        hide(document.querySelectorAll('.signup'));
        return false;
    });
</script>
