{% block login %}

<div class="login">
  <h1>Login</h1>
  <form action="/api/user/login" method="post">
    <div class="info">
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" placeholder="example@g    mail.com">
      <label for="password">Password:</label>
      <p>Forgot password?</p>
      <input id="password" type="password" name="email">
      <button type="submit">Login</button>
    </div>
  </form>
  <div id="cancelLogin"><a href="#">Cancel</a></div>
</div>

<script type="text/javascript">
  hide(document.querySelectorAll('.login'));

  document.getElementById('loginLink').addEventListener('click', function(event) {
    show(document.querySelectorAll('.login'));
  });
       
  document.getElementById('cancelLogin').addEventListener('click', function(event) {
    hide(document.querySelectorAll('.login'));
    return false;
  });
</script>

{%endblock %}
